.rodape {
    border-top: 1.4px solid #121212;
    background: #121212;
    width: 100%;
    padding: 60px 4px;

}

footer p {
  display: flex;
  font-size: 18px;
  padding-left: 7px;
  padding-bottom: 12px;
  color: white;
  align-items: center;

}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

footer ul li {
  display: flex;
  padding: 6px;

}

footer ul li a {
  font-size: 16px;
  color: #E5E4E2;

}

.social {
  padding-top: 11px;
  list-style: none;

}

.social li a {
  display: flex;
  padding: 0 5px;
  font-size: 16px;
  color: #E5E4E2;
}